






  <div class="navbar-fixed">
    <nav class=" blue-grey lighten-5 nav-extended" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse "><i class="material-icons">menu</i></a>
      </div>    
    </nav>
  </div>
  
   
        <ul id="slide-out" class="side-nav fixed teal darken-4" >

          <li>
            <div class="user-view">
              <div class="background">
                <img src="../images/candles_min.jpg">
              </div> 
              <a href=""><img class="circle" src="../images/user.png"></a>
              <a href=""><span class="nome">Nome do usuário</span></a>           
              <a href=""><span class="email">Email do usuário</span></a>
            </div>
          </li>



        <li><a class="waves-effect" href="#!"><span style="color: white">Dashboard</span></a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="#!"><span style="color: white">Dashboard</span></a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header"><span style="color: white">Dashboard</span><i class="material-icons"><span style="color: white">arrow_drop_down</span></i></a>
              <div class="collapsible-body">
                <ul class="teal darken-3">
                  <li><a class="waves-effect" href="#!"><span style="color: white">First</span></a></li>
                  <li><a class="waves-effect" href="#!"><span style="color: white">Second</span></a></li>
                  <li><a class="waves-effect" href="#!"><span style="color: white">Third</span></a></li>
                  <li><a class="waves-effect" href="#!"><span style="color: white">Fourth</span></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      
      <a href="#" data-activates="slide-out" id="side-navbar" class="btn-floating btn-large waves-effect waves-light teal darken-3"><i class="material-icons">menu</i></a>
  
 
  <main>

    <div class="container">
      <div class="row">
        <div class="col s3">
          <div class="card-panel painel vertical-align center  light-blue darken-3">
            <div style="font-size: 2.2em; color: white">SALDO</div>
            <span class="white-text"></span>
            <div><span style="font-size: 1.8em; color: white"><i class="material-icons background-round mt-5">attach_money</i>
100.000.000,00</span></div>
          </div>
        </div>
        <div class="col s3">
          <div class="card-panel painel vertical-align center green darken-1">
            <div style="font-size: 2.2em; color: white">TARGET</div>
            <span class="white-text"></span>
            <div><span style="font-size: 1.8em; color: white"><i class="material-icons background-round mt-5">attach_money</i>1.000,00</span></div>
          </div>
        </div>
        <div class="col s3">
          <div class="card-panel painel vertical-align center deep-orange darken-4">
            <div style="font-size: 2.2em; color: white">STOP LOSS</div>
            <span class="white-text"></span>
            <div><span style="font-size: 1.8em; color: white"><i class="material-icons background-round mt-5">attach_money</i>100.000.000,00</span></div>
          </div>
        </div>
        
        <div class="col s3 ">
          <div class="card-panel painel vertical-align center light-blue darken-3">
            <div style="font-size: 2.2em; color: white">GANHO</div>
            <span class="white-text"></span>
            <div><span style="font-size: 1.8em; color: white"><i class="material-icons background-round mt-5">arrow_upward</i>423,95</span></div>
          </div>
        </div>       
      </div>

      <div class="row">
        <div class="col s8" style="height: 450px" >       
            <canvas class="card" id="myChart" style="padding: 5px 5px 5px 5px"></canvas>          
        </div>
        <div>
          <div class="col s4 card" style="height: 423px">
            <h5>Chat</h5>
            <div class="divider"></div>
            <div class="col s12" style="height: 250px">
              <div class="left-align col s6">
                sasasas<br/>
                <br/>
                dasdasd
                <br/>
                <br/>
                yututyutyut
                <br/>

              </div>
              <div class="right-align col s6">
                <br/>
                dfdfdfdf
                <br/>
                <br/>
                dfdfddsdsdsadadfdf
                <br/>
              </div>
            </div>
            <div class="divider"></div>
            <div col s10>
              <input type="text" name="" placeholder="Digite sua mensagem">
            </div>
            <div col s2>
              <button class="btn-floating btn-large waves-effect waves-light"><i class="material-icons right">send</i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card-panel">
            <h5>Trades de ontem</h5>
            <div class="divider"></div>
            <div>
              <table>
                <thead>
                  <tr>
                    <th>Stock</th>
                    <th>Posição</th>
                    <th>Shares</th>
                    <th>Entrada</th>                    
                    <th>Saída</th>
                    <th>Valor</th>
                    <th>P/L</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>TSLA</td>
                    <td>Short</td>
                    <td>150</td>
                    <td>$372,50</td>
                    <td>$371,20</td>
                    <td>$195,00</td>
                    <td>---</td>
                  </tr>
                  <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                    <td>$3.76</td>
                  </tr>
                  <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                    <td>$7.00</td>
                  </tr>
                </tbody>
              </table>
            
            </div>
          </div>
          
        </div>
        <div>
          
        </div>        
      </div>

      


    </div>


    
  </main>  
  
  